.productStyle {
  padding: 16px 24px 8px;
  border: 1px solid #e3e4e8;
  border-radius: 6px;
  color: #0f2137;
  background-color: #ffffff;
}
.productStyle:not(:last-child) {
  margin-bottom: 16px;
}
.productTitle {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 16px;
}
.productBody > div {
  margin-bottom: 16px;
  font-weight: bold;
}
.productBodyText {
  font-weight: normal;
}
.actionBar {
  padding-top: 8px;
  border-top: 1px solid #e3e4ee;
  text-align: center;
}
.actionBarItem {
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.actionBarItem:hover {
  background-color: #f4f5f9;
}
.actionBarItem:global(.active) {
  color: #62bfad;
}
.actionBarItemLabel {
  margin-left: 8px;
}
